@page
@model ProjectDashboard.Pages.Dashboard.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.DateScheduledForProduction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.DateScheduledForProduction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.DateScheduledForDelivery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.DateScheduledForDelivery)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
